body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  gap: 10px;
  padding: 20px 20px 40px 20px;
  border-width: 10px;
  border-style: solid;
  border-color: black;
  background-color: aliceblue;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1px;
  width: 800px;
  height: 800px;
  border-width: 10px;
  border-style: solid;
  border-color: burlywood;
}

.gridSquare {
  flex: 1 0 auto;
  margin: 0px;
  width: 7px;
  height: 7px;
  background-color: white;
}

.grid, .hovered {
  background-color: black;
}

.clicked {
  background-color: blueviolet;
}